.top-terminado{
    display: flex;
    flex-direction: column;
    align-items: center;
        p{
        
           text-align: center;   
           width: 100%;
        }
       

}
.allgood {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-content: center;
    margin-bottom: 70px;

    img{
        width: 60%;
        height: 232px;
        margin-top: 80px;
        margin-bottom: 40px;
    }
    h1{
        width: 80%;
        font-size: 21px;
        text-align: center;
    }
}
.x-img{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    
}
