.confirm-page{
    .content-input input,
    .content-select select{
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
     
    .content-input input{
        visibility: hidden;
        position: absolute;
        right: 0;
    }
    
        .content-input{
            position: relative;
            margin-bottom: 30px;
            padding:5px; /* Damos un padding de 60px para posicionar 
                el elemento <i> en este espacio*/
            display: block;
    
            input + i{
                background: white;
                border:1px solid rgb(168, 168, 168);
                color:rgb(168, 168, 168);
                font-family: Monserrat-regular;
                font-style: normal;
                padding:2px 5px 2px 5px;
                position: static; 
                left: 0;
                top: 0;
         }
    
         input[type=checkbox ] + i{
            width: auto;
            height: 30px;
            border-radius: 15px;
        }
        // input[type=checkbox] + i::after{
        //     content: {};
        // }
        }
    
        .content-input input[type=checkbox] + i:after{
            position: absolute;
            font-size: 10px;
            color: rgba(255,255,255,0.6);
            top: 8px;
            left: 4px;
            // opacity: 0 /* Ocultamos este elemento */;
            transition: all 0.25s ease 0.25s;
        }
        
        /* Cuando esté checkeado cambiamos la opacidad a 1 y lo mostramos */
        .content-input input[type=checkbox]:checked + i:after{
         opacity: 1;
    
        }
    
        .content-input input[type=checkbox]:checked + i{
                   background: rgb(248,73,113);
                   color:white;
                   border:1px solid rgb(248,73,113);
        }
    h1{
        font-family: Monserrat-bold;
        font-size:20px;
        text-align: center;
        width:100%;
        margin: 20px 0px;
    }
    p{
        font-family: Monserrat-medium;
        font-size:14px;
        text-align: center; 
        color:grey;
        line-height:2;
        width:100%;
        margin: 20px 0px;
    }
    .p-marcar{
        font-size:12px;
        color:rgb(177, 177, 177);
        width:70%;
        text-align: left;
        line-height: 1.2;
    }

    .btn-add{
        width: fit-content;
        height: 30px;
        border-radius: 15px;
        background: white;
        border:1px solid rgb(168, 168, 168);
        color:rgb(168, 168, 168);
        font-family: Monserrat-regular;
        display: flex;
        justify-content: center;
        align-items: center;

        a{
            color:rgb(168, 168, 168);
            text-decoration: none;
            width:fit-content;
        }
    }

    .btn-container{
        padding:5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    form{
        display:flex;
        flex-wrap: wrap;
        width:100%;

    }
    
    
}

.centrado{
    height:auto;
    width:auto;
    margin:30px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}