.top-login {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        margin-top: 20px;
    }
}

.imatop{
    height: 235px;
    width: 375px;
}

.form-login{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    
        input{
            background-color: transparent !important;
            border: none;
            border-bottom: 2px solid rgb(216, 213, 213);
            width: 75%;
            font-size: 14px;
            height: 66px;
        
        }
}
.form-login-p{
    color: rgb(0, 213, 255); 
    text-decoration: none;
    margin-top: 7px;
}
.text-bottom-button{
    color: rgb(0, 213, 255); 
    background-color: transparent !important;
    border: none; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-bottom{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: rgb(0, 213, 255);
        p{
            color: rgb(196 196 196);
        }
}


.pag-login{
    animation-name:aparicionLogin;
    animation-duration:1s;
    animation-delay:0s;
}
a{
    text-align: center;
    text-decoration: none;
    color: rgb(0, 213, 255);

}
@keyframes aparicionLogin{
    0%{
        opacity:0;
        transform: scale(1) translateX(75px);
    }
    100%{
        opacity:1;
        transform:scale(1) translateY(0);
    }
}