.carousel-item{
    width:100%;
    height:calc(100vh - 100px) !important;
    background-color: white;
}


.img-container{
    position: absolute;
    right: 20%;
    top: 10vh;
    left: 20%;
    display:flex;
    justify-content: center;

    img{
        height:auto;
    }
    
}

.carousel-caption {
    position: absolute;
    right: 20%;
    bottom: 10vh!important;
    left: 20%;
    color: black !important;
    font-family: Monserrat-medium;
    h3{
        font-size: 18px;
        margin-bottom:20px;
    }
    h4{
        font-size: 16px;
    }
}

.img-slides{
    width: 100px !important;
    height:100px;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px!important;
    height: 10px!important;
    margin-right: 6px;
    margin-left: 6px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(194, 190, 190)!important;
    background-clip: padding-box;
    border: 0;
    border-top: 0px solid transparent!important;
    border-bottom: 0px solid transparent!important;
}
