.VolverGlobal{

    background-color: transparent !important;
    border: none;
    color:rgb(38 199 220);
    position: absolute;
    left: 9px;
    top: 34px;
    h1{
        font-size: 18px;
    }
}