.Portada-total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
}

.Portada-arriba{
    width: 54.4%;
}
.Portada-abajo{
    width: 100%;
    
}


.Portada-img1{
    width: 100%;
    height: 100%;
}
.Portada-img2{
    width: 100%;
    height: 100%;
}