.Home-total{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.Hamburguesa-Wrap{
    //height: 10vh;
    background-color: rgb(217, 217, 217);
    border: 1px solid lightgrey;
    border-bottom-color:black ;
    width: 64%;
    height: 430px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
}
.Hamburguesa-Btn-Caja{
    height: 48px;
    display: flex;
    /* width: 48px; */
    /* margin-left: 90%; */
    justify-content: flex-end;
    
}
.Hamburguesa-btn{
    width: 50px;
    height: 50px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom-left-radius: 10px;
   
}
.Hamburguesa-Opciones-Caja{}

.Hamburguesa-Opcion-Caja{
    border: 1px solid red;
    display: flex;
    height: 48px;
    width: 180px;
    
    margin: 5px;
    margin-left: 16px;
    align-items: center;
}

.Hamburguesa-Opcion-img{
    height: 75%;
}
.Hamburguesa-Opcion-txt{
    margin-left: 5px;
    text-decoration: none!important;
}




.Compartir-Wrap{
    width: 100%;
    height: 100px;
    background-color: rgb(217, 217, 217);
    border: 3px solid grey;
    border-radius: 10px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 1000000;
}

.Compartir-Btn-Caja{
    width: 50px;
    height: 50px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom-left-radius: 10px;
}
.Compartir-btn{
    width: 100%;
    height: 100%;
}
.Compartir-Opciones-Usuarios{
    display: flex;
    
}
//HEADER
.Home-Header{
    display: flex;
    justify-content: center;
    
}
.Home-Header-Header{
 display: flex;
 justify-content: space-between;
 width: 71%;
}
.Home-Header-Caja{
    width: 24px;
    height: 24px;
}
.Home-Header-img{
    width: 100%;
    height: 100%;
}
//MAIN
.Home-Main{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.Home-Main-Caja-Arriba{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.Home-Main-Caja-Arriba-caja{
    width: 172px;
    height: 188px;
}
.Home-Main-img{
    width: 100%;
    height: 100%;
}
.Home-Main-Caja-Abajo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*.Home-Main-Caja-Abajo-btn1{
    background-color: rgb(38 199 220);
    color: white;
    border-color: rgba(13, 51, 32, 0.1);
    width: 50%;
    height: 50px;
    border-radius: 8px;
}*/


//FOOTER
.Home-Footer{
    justify-content: center;
    display: flex;
    position: fixed;
    bottom: 16px;
    width: 100%;
}
.Home-Footer-Caja{
    display: flex;
    justify-content: space-between;
    width: 71%;
}

.Home-Btn-1{
    background-color: red;
}
.btn2{
    background-color: rgb(35, 92, 166);
}
.btnHome{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
