.PerfilUsuario-total{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PerfilUsuario-Caja-img{
    width: 200px;
    height: 200px;
    border: 5px solid #2fa8b8;
    background-color: rgb(38 199 220);
    border-radius: 10px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.PerfilUsuario-img{
    border: 3px solid #2fa8b8;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: 90%;
}

.PerfilUsuario-Caja-Info{
    width: 87%;
    margin-top: 50px;
}

.PerfilUsuario-Caja-Info-nombre{
    margin-bottom: 15px;
    
}
.PerfilUsuario-nombre-titulo{
  //  background-color: rgb(196 196 196);
    border: 3px solid black;
    color: grey;
    border-color: rgba(13, 51, 32, 0.1);
    border-radius: 10px;
    width: 40%;
    margin: -1px;
    border-bottom: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0px;
    text-align: center;
    font-family: Monserrat-bold;
    font-size: 25px;
}
.PerfilUsuario-nombre{
    height: 60px;
    margin: -1px;
    padding-left: 15px;
    //background-color: rgb(196 196 196);
    border: 3px solid black;
    border-color: rgba(13, 51, 32, 0.1);
    border-radius: 10px;
    border-top-left-radius: 0px;
    font-family: Monserrat-Medium;
    font-size: 25px;
    display: flex;
    align-items: center;
    
}

.PerfilUsuario-Caja-Info-email{
    margin-bottom: 15px;
}

.PerfilUsuario-email-titulo{
   // background-color: rgb(196 196 196);
    border: 3px solid black;
    border-color: rgba(13, 51, 32, 0.1);
    border-radius: 10px;
    color: grey;
    width: 150px;
    margin: -1px;
    border-bottom: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0px;
    text-align: center;
    font-family: Monserrat-bold;
    font-size: 25px;
    
}

.PerfilUsuario-email{
    height: 50px;
    margin: -1px;
    padding-left: 15px;
   // background-color: rgb(196 196 196);
    border: 3px solid black;
    border-color: rgba(13, 51, 32, 0.1);
    border-radius: 10px;
    border-top-left-radius: 0px;
    
    font-family: Monserrat-Medium;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.PerfilUsuario-Caja-tiempo{
    position:absolute;
    top:206px;;
    
    height: 18px;
    margin: -1px;
    padding-left: 15px;
    background-color: rgb(196 196 196);
    border: 3px solid black;
    border-color: rgba(13, 51, 32, 0.1);
    border-radius: 10px;
    
    
    font-family: Monserrat-Medium;
    text-align: center;
    display: flex;
    .PerfilUsuario-tiempo{
        font-size: 10px;
    }
}

.PerfilUsuario-Caja-alergenos{
    height: 100px;
    width: 50%;
    //background-color: rgb(196 196 196);
    border: 3px solid black;
    border-color: rgba(13, 51, 32, 0.1);
    border-radius: 10px;
    margin-top: 15px;
}
.PerfilUsuario-Caja-alergeno{

}
.PerfilUsuario-alergeno-txt{
    font-size: 20px;
}

@media (min-width: 700px) {
    .PerfilUsuario-Caja-Info{
        width: 609px;
        height: 420px;
        margin-top: 0px;
    }
    }