.top-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-register-p{
    display: flex;
    flex-direction: row;
    margin-top: 34px;
    justify-content: flex-start;
    p{
       text-align: center;   
       width: 100%;
    }
       
}

.form-registro{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    
        input{
            background-color: transparent !important;
            border: none;
            border-bottom: 2px solid rgb(216, 213, 213);
            width: 75%;
            font-size: 14px;
            height: 64px;
        
        }
}
#password-id{
    margin-bottom: 44px;
}
#userName{
margin-top: 40px;
}

@media (min-width: 700px) {
    .boton-login{
        width: 609px;
    }
    
}
