.top-sos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-top-2{
    display: flex;
    flex-direction: row;
    margin-top: 34px;
    justify-content: flex-start;
    p{
       text-align: center;   
       width: 100%;
    }
       
}

.top-top-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.title-1{
    display: flex;
    justify-content: center;
    width: 64%;
    text-align: center;
  
}
.title-2{
    display: flex;
    justify-content: center;
    width: 70%;
    text-align: center;
  
}
.form-sos{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
        input{
            background-color: transparent !important;
            border: none;
            border-bottom: 2px solid rgb(216, 213, 213);
            width: 75%;
            font-size: 14px;
            height: 66px;
                }
}
#poliza{
    margin-bottom: 25px;
}

.qq{
    color:  rgb(0, 213, 255);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

