.arribaas {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-top-2{
    display: flex;
    flex-direction: row;
    margin-top: 34px;

    justify-content: flex-start;
    p{
       text-align: center;   
       width: 100%;
    }
       
}

.top-top-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.foorm{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
        input{
            background-color: transparent !important;
            // margin-top: 20px;
            // margin-bottom: 20px;
            border: none;
            border-bottom: 2px solid rgb(216, 213, 213);
            width: 75%;
            font-size: 14px;
            height: 66px;
        
        }
        button{
            font-size: 17px;
            width: 80%;
        }
}
.footo{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 111px;
    width: 111px;
    border-radius:100px;
    border: solid rgb(0, 213, 255);
}
.footo2{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;


    height: 80px;
    .imaaa{
    
        height: 80%;
    }
    .imaaaa{
        width: 50px;
        height:18px
    }
}

.qq{
    color:  rgb(0, 213, 255);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}



.title-1{
    display: flex;
    justify-content: center;
    width: 64%;
    text-align: center;
  
}
.title-2{
    display: flex;
    justify-content: center;
    width: 70%;
    text-align: center;
  
}