.BtnGlobal2{
    width: 87%;
    height: 50px;
    font-size: 9px;
    border-radius:8px;
    border-color: rgba(13, 51, 32, 0.1);
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    align-content: center;
    height: 100%;
}

